.dropdown {
   
    #dropdown-basic {
        padding: 0;
        padding-bottom: 2.5px;
        color: white;
        text-decoration: none;
        position: sticky;
        
        z-index: 10;
       
    }

    .dropdown-item {
        color: black !important;
        text-align: center;
        margin: 0 !important;
        position: relative;
        z-index: 10;
       
    }
}